Repository jesselpalmer/node-email-verifier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"],
  "*.{yml,yaml}": ["node scripts/lint-yaml.js"]
}

docs: update CHANGELOG.md for 3.2.0 release
  CHANGELOG.md
Due: prettier --write, markdownlint-cli2 --fix

3.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: add comprehensive examples directory
  README.md
  examples/README.md
  examples/basic-validation.js
  examples/bulk-validation.js
  examples/commonjs-usage.cjs
  examples/error-handling.js
  examples/typescript-usage.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: use ErrorCode enum constants instead of string literals in bulk-validation example
  examples/bulk-validation.js
Due: eslint --fix, prettier --write

refactor: extract exponential backoff delay into utility function
  examples/error-handling.js
Due: eslint --fix, prettier --write

fix: address Copilot feedback on TypeScript examples
  README.md
  examples/typescript-usage.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

refactor: extract error code handling into helper function
  examples/error-handling.js
Due: eslint --fix, prettier --write

fix: use top-level errorCode for consistency in README example
  README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: update TypeScript example instructions to use tsx
  examples/README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: wrap top-level await in async functions for basic-validation.js
  examples/basic-validation.js
Due: eslint --fix, prettier --write

docs: update documentation and fix file endings for examples
  CHANGELOG.md
  CONTRIBUTING.md
  FEATURE_ENHANCEMENTS.md
  examples/README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: address Copilot AI feedback on documentation
  CONTRIBUTING.md
  FEATURE_ENHANCEMENTS.md
  examples/README.md
Due: prettier --write, markdownlint-cli2 --fix

feat: add AI Debug Mode with structured logging
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
  README.md
  examples/README.md
  examples/debug-mode.js
  src/debug-logger.ts
  src/index.ts
  test/debug.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

refactor: extract debug log type to constant per Copilot suggestion
  src/debug-logger.ts
  test/debug.test.ts
Due: eslint --fix, prettier --write

refactor: remove unused formatBytes and formatDuration functions
  src/debug-logger.ts
Due: eslint --fix, prettier --write

fix: address copilot feedback on debug mode implementation
  src/debug-logger.ts
  src/index.ts
Due: eslint --fix, prettier --write

refactor: ensure endValidation cleanup always runs in mx check error handling
  src/index.ts
Due: eslint --fix, prettier --write

refactor: extract debug log interception into reusable helper
  examples/debug-mode.js
Due: eslint --fix, prettier --write

fix: improve debug logging consistency and reduce duplication
  src/index.ts
Due: eslint --fix, prettier --write

fix: improve error handling and console.log compatibility
  examples/debug-mode.js
  src/debug-logger.ts
  src/index.ts
Due: eslint --fix, prettier --write

refactor: simplify code readability per copilot suggestions
  src/index.ts
Due: eslint --fix, prettier --write

refactor: improve debug logging consistency for format validation
  src/index.ts
Due: eslint --fix, prettier --write

fix: prevent override of core debug log fields and add jsdoc
  src/debug-logger.ts
Due: eslint --fix, prettier --write

docs: add design decision comment for endvalidation pattern
  src/index.ts
Due: eslint --fix, prettier --write

Revert "docs: add design decision comment for endvalidation pattern"
  src/index.ts
Due: eslint --fix, prettier --write

docs: document endvalidation pattern design decision for copilot
  .github/copilot-instructions.md
Due: prettier --write, markdownlint-cli2 --fix

refactor: reduce timeout validation duplication and prevent data mutations
  src/debug-logger.ts
  src/index.ts
Due: eslint --fix, prettier --write

test: add memory usage assertions for completion phase
  test/debug.test.ts
Due: eslint --fix, prettier --write

feat: add ai debug mode with structured logging
  .github/copilot-instructions.md
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
  README.md
  examples/README.md
  examples/debug-mode.js
  src/debug-logger.ts
  src/index.ts
  test/debug.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

chore: prepare for v3.3.0 release
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

docs: add release notes archive with v3.3.0 release notes
  docs/releases/README.md
  docs/releases/RELEASE_NOTES_3.3.0.md
Due: prettier --write, markdownlint-cli2 --fix

docs: update release notes with proper release process
  docs/releases/RELEASE_NOTES_3.3.0.md
Due: prettier --write, markdownlint-cli2 --fix

docs: update release notes to reflect current state
  docs/releases/RELEASE_NOTES_3.3.0.md
Due: prettier --write, markdownlint-cli2 --fix

Revert "docs: update release notes to reflect current state"
  docs/releases/RELEASE_NOTES_3.3.0.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add release process improvement recommendations
  docs/releases/RELEASE_PROCESS_RECOMMENDATIONS.md
Due: prettier --write, markdownlint-cli2 --fix
