Repository jesselpalmer/node-email-verifier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

docs: enhance release notes with improved process
  docs/releases/RELEASE_NOTES_3.3.0.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add comprehensive release process documentation
  .gitignore
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: align release notes with updated release process
  docs/releases/RELEASE_NOTES_3.3.0.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add 50 char commit message requirement
  CONTRIBUTING.md
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add links to semver and conventional commits
  CONTRIBUTING.md
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: reduce redundancy in resource links
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add node version req and pr template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add pr template reference in contributing
  CONTRIBUTING.md
Due: prettier --write, markdownlint-cli2 --fix

docs: remove v prefix from version tags
  FEATURE_ENHANCEMENTS.md
  RELEASE_PROCESS.md
  docs/releases/RELEASE_NOTES_3.3.0.md
  docs/releases/RELEASE_PROCESS_RECOMMENDATIONS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add gpg setup guide and signing options
  RELEASE_PROCESS.md
  docs/GPG_SETUP.md
Due: prettier --write, markdownlint-cli2 --fix

docs: clarify ai tag creation process
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: simplify release process
  .gitignore
  CLAUDE.md
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

chore: minor update
  .gitignore
Due: none

chore: remove unnecessary file
  CLAUDE.md
Due: prettier --write, markdownlint-cli2 --fix

docs: simplify release process
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

test: add edge case coverage for disposable domains
  src/disposable-domains.ts
  test/disposable-domains.test.ts
Due: eslint --fix, prettier --write

refactor: address pr feedback from copilot review
  test/disposable-domains.test.ts
Due: eslint --fix, prettier --write

docs: add defensive typing pattern to copilot instructions
  .github/copilot-instructions.md
Due: prettier --write, markdownlint-cli2 --fix

refactor: extract performance test constants
  test/disposable-domains.test.ts
Due: eslint --fix, prettier --write

docs: clarify www handling and performance test design
  .github/copilot-instructions.md
Due: prettier --write, markdownlint-cli2 --fix

test: add edge case coverage for disposable domains
  .github/copilot-instructions.md
  src/disposable-domains.ts
  test/disposable-domains.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

test: add comprehensive error handling edge case tests
  src/index.ts
  test/error-handling-edge-cases.test.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

chore: rename LLMS.txt to llms.txt for consistency
  llms.txt
Due: none

docs: add LLMS.txt for AI assistant context
  LLMS.txt
Due: none

test: address pr feedback for error handling tests
  src/index.ts
  test/error-handling-edge-cases.test.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

refactor: clarify dns error conditional logic
  src/index.ts
Due: eslint --fix, prettier --write

fix: address additional pr feedback
  src/index.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

refactor: extract dns error classification logic
  src/index.ts
Due: eslint --fix, prettier --write

test: add comprehensive bulk validation and transient dns failure tests
  src/index.ts
  test/bulk-validation-memory.test.ts
  test/error-handling-edge-cases.test.ts
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

test: implement fake timers for cleanup test determinism
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

test: address copilot feedback on memory thresholds and timeout handling
  test/bulk-validation-memory.test.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

test: make memory diagnostics logging ci-friendly
  test/bulk-validation-memory.test.ts
Due: eslint --fix, prettier --write

docs: move llms.txt to docs directory
  docs/llms.txt
Due: none

fix: remove fake timers from timeout tests for ci compatibility
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

fix: use relative memory thresholds for ci compatibility
  test/bulk-validation-memory.test.ts
Due: eslint --fix, prettier --write

fix: address copilot feedback on typing and initialization
  src/index.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

fix: make jittery network test deterministic for ci stability
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

docs: clarify timeoutMs initialization comment per feedback
  src/index.ts
Due: eslint --fix, prettier --write

docs: document classifyDnsError helper in llms.txt
  docs/llms.txt
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
  markdownlint-cli2 --fix: any of: *.md
  node scripts/lint-yaml.js: any of: *.{yml,yaml}
