Repository jesselpalmer/node-email-verifier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"],
  "*.{yml,yaml}": ["node scripts/lint-yaml.js"]
}

chore: address copilot comments
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  .npmignore
Due: none

fix: prevent destructive dist directory deletion during tests
  .gitignore
  .npmignore
  package.json
  scripts/build-cjs.js
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: bump validator
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  docs/ESM_COMMONJS_COMPATIBILITY.md
  docs/INTEGRATION_TESTING.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint-cli2 --fix

chore: regenerate package.json
  package-lock.json
Due: prettier --write

chore: update all dependencies and github actions
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-check.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/package-check.yml
  package-lock.json
  package.json
Due: prettier --write, node scripts/lint-yaml.js

feat!: drop node 18 support, require node 20+
  .github/workflows/integration-tests.yml
  .github/workflows/nodejs-ci.yml
  package.json
Due: prettier --write, node scripts/lint-yaml.js

docs: update readme
  README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: update minimum Node.js version to 20.0.0
  .github/workflows/integration-tests.yml
  .github/workflows/nodejs-ci.yml
  package-lock.json
  package.json
Due: prettier --write, node scripts/lint-yaml.js

fix: update minimum Node.js version to 20.0.0
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-check.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/package-check.yml
Due: prettier --write, node scripts/lint-yaml.js

chore(deps): update all dev deps + github actions
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-check.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/package-check.yml
  package-lock.json
  package.json
Due: prettier --write, node scripts/lint-yaml.js

fix: update formatting for prettier 3.7.3 and markdownlint 0.39.0
  README.md
  scripts/check-npm-package.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

docs: update minimum Node.js version to 20.0.0 in README
  README.md
Due: prettier --write, markdownlint-cli2 --fix

docs: enhance ValidKit section with updated copy
  README.md
Due: prettier --write, markdownlint-cli2 --fix

refactor: fix link
  README.md
Due: prettier --write, markdownlint-cli2 --fix

refactor: clean up
  README.md
Due: prettier --write, markdownlint-cli2 --fix

chore: update changelog
  CHANGELOG.md
Due: prettier --write, markdownlint-cli2 --fix

release: v4.0.0
  package-lock.json
  package.json
Due: prettier --write
