Repository jesselpalmer/node-email-verifier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

test: add comprehensive error handling edge case tests
  docs/llms.txt
  src/index.ts
  test/bulk-validation-memory.test.ts
  test/error-handling-edge-cases.test.ts
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

docs: update changelog and feature enhancements for pr #50
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
Due: prettier --write, markdownlint-cli2 --fix

docs: reprioritize roadmap for enhanced dx
  FEATURE_ENHANCEMENTS.md
Due: prettier --write, markdownlint-cli2 --fix

feat: add MX record caching for improved performance
  README.md
  examples/README.md
  examples/mx-caching.js
  src/index.ts
  src/mx-cache.ts
  src/types.ts
  test/bulk-validation-memory.test.ts
  test/index.test.ts
  test/mx-cache-integration.test.ts
  test/mx-cache.test.ts
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

refactor: address code review feedback
  test/bulk-validation-memory.test.ts
  test/index.test.ts
  test/mx-cache-integration.test.ts
  test/test-helpers.ts
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

refactor: address additional code review feedback
  src/index.ts
  test/index.test.ts
  test/test-helpers.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

docs: clarify FIFO eviction strategy in cache implementation
  src/mx-cache.ts
Due: eslint --fix, prettier --write

refactor: improve code clarity based on review feedback
  src/index.ts
  src/mx-cache.ts
Due: eslint --fix, prettier --write

docs: correct performance claims to be more accurate
  README.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add detailed performance benefits for MX caching
  README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: address Copilot AI feedback on MX caching implementation
  test/mx-cache.test.ts
Due: eslint --fix, prettier --write

refactor: address copilot ai feedback for code maintainability
  test/index.test.ts
  test/mx-cache-integration.test.ts
  test/test-helpers.ts
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

feat: implement lru eviction strategy and address all copilot feedback
  README.md
  benchmark-cache-eviction.js
  examples/mx-caching.js
  src/mx-cache.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

perf: implement lru eviction strategy and add comprehensive benchmarks
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
  README.md
  benchmark-comprehensive.js
  benchmark-fifo-vs-lru.js
  docs/releases/RELEASE_NOTES_3.4.0.md
  src/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

refactor: extract cleanup probability magic number as constant
  src/mx-cache.ts
Due: eslint --fix, prettier --write

refactor: address remaining copilot feedback
  benchmark-cache-eviction.js
  benchmark-comprehensive.js
  benchmark-fifo-vs-lru.js
  test/mx-cache-integration.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

fix: validate ttl parameter to handle zero values correctly
  src/mx-cache.ts
Due: eslint --fix, prettier --write

fix: address copilot feedback on cache implementation
  src/mx-cache.ts
  test/index.test.ts
Due: eslint --fix, prettier --write

test: address copilot feedback on test coverage
  test/mx-cache.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

refactor: improve cache configuration as suggested by copilot
  src/index.ts
  src/mx-cache.ts
  test/mx-cache.test.ts
Due: eslint --fix, prettier --write

fix: import MxRecord from correct location and use createTestOptions
  test/bulk-validation-memory.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write

feat: make cleanup probability configurable in cache options
  src/index.ts
  src/mx-cache.ts
  test/mx-cache.test.ts
Due: eslint --fix, prettier --write

test: disable random cleanup in cache tests for deterministic behavior
  test/index.test.ts
Due: eslint --fix, prettier --write

test: add test for disabled cache behavior
  test/index.test.ts
Due: eslint --fix, prettier --write

refactor: extract cache options merging into utility function
  src/index.ts
Due: eslint --fix, prettier --write

fix: use library's MxRecord type instead of node dns module
  test/error-handling-edge-cases.test.ts
  test/timeout-race-conditions.test.ts
Due: eslint --fix, prettier --write

docs: add inline comments to improve code clarity and maintainability
  src/index.ts
  src/mx-cache.ts
  test/index.test.ts
Due: eslint --fix, prettier --write

improve: use dynamic cache size calculation and add resolver spy test
  src/mx-cache.ts
  test/index.test.ts
Due: eslint --fix, prettier --write

feat: add cache option validation and enhance LRU documentation
  src/index.ts
  src/mx-cache.ts
  test/index.test.ts
Due: eslint --fix, prettier --write

enhance: add type validation for cache options and clarify propagation
  src/index.ts
  test/index.test.ts
Due: eslint --fix, prettier --write

feat: add MX record caching with LRU eviction strategy
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
  README.md
  docs/releases/RELEASE_NOTES_3.4.0.md
  examples/README.md
  examples/mx-caching.js
  src/index.ts
  src/mx-cache.ts
  src/types.ts
  test/bulk-validation-memory.test.ts
  test/error-handling-edge-cases.test.ts
  test/index.test.ts
  test/mx-cache-integration.test.ts
  test/mx-cache.test.ts
  test/test-helpers.ts
  test/timeout-race-conditions.test.ts
  test/transient-dns-failures.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

docs: update documentation for mx caching feature
  FEATURE_ENHANCEMENTS.md
  docs/API_BEST_PRACTICES.md
Due: prettier --write, markdownlint-cli2 --fix

docs: address copilot ai feedback on caching documentation
  FEATURE_ENHANCEMENTS.md
  docs/API_BEST_PRACTICES.md
Due: prettier --write, markdownlint-cli2 --fix

fix: resolve dependabot configuration issues
  .github/CODEOWNERS
  .github/dependabot.yml
Due: prettier --write, node scripts/lint-yaml.js

fix: correct typo in codeowners documentation url
  .github/CODEOWNERS
Due: none

feat: export additional typescript types for better dx
  src/index.ts
  test/import.test.ts
Due: eslint --fix, prettier --write

docs: add example for enhanced typescript types
  examples/README.md
  examples/enhanced-types.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: correct EmailValidationError constructor argument order
  examples/enhanced-types.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
  markdownlint-cli2 --fix: any of: *.md
  node scripts/lint-yaml.js: any of: *.{yml,yaml}
