Repository jesselpalmer/node-email-verifier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"],
  "*.{yml,yaml}": ["node scripts/lint-yaml.js"]
}

feat: export additional typescript types for better dx
  examples/README.md
  examples/enhanced-types.js
  src/index.ts
  test/import.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

docs: update documentation for enhanced typescript exports
  CHANGELOG.md
  FEATURE_ENHANCEMENTS.md
  README.md
Due: prettier --write, markdownlint-cli2 --fix

docs: add comment explaining separate type imports
  README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: resolve shell command injection vulnerabilities in tests
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: bump version to 3.4.0
  package-lock.json
  package.json
Due: prettier --write

docs: update CHANGELOG for v3.4.0 release
  CHANGELOG.md
Due: prettier --write, markdownlint-cli2 --fix

feat: implement lazy loading for disposable domains
  README.md
  docs/BUNDLE_SIZE_OPTIMIZATION.md
  scripts/optimize-disposable-domains.js
  src/disposable-checker.ts
  src/disposable-domains.ts
  src/index.ts
  test/disposable-domains.test.ts
  test/lazy-loading.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

chore: prepare for 3.4.1 release
  .github/workflows/package-check.yml
  .npmignore
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  docs/releases/RELEASE_NOTES_3.4.1.md
  package-lock.json
  package.json
  scripts/check-npm-package.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

refactor: fix space
  RELEASE_PROCESS.md
Due: prettier --write, markdownlint-cli2 --fix

chore: minor updates
  .github/workflows/package-check.yml
  CHANGELOG.md
Due: prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

fix: build
  .github/workflows/package-check.yml
Due: prettier --write, node scripts/lint-yaml.js

fix: build
  .github/workflows/package-check.yml
  RELEASE_PROCESS.md
  package.json
  scripts/test-package-install.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

chore: address copilot feedback
  .github/workflows/package-check.yml
  scripts/check-npm-package.js
  scripts/test-package-install.js
Due: eslint --fix, prettier --write, node scripts/lint-yaml.js

fix: build
  scripts/test-package-install.js
Due: eslint --fix, prettier --write

chore: address copilot comments
  .github/workflows/package-check.yml
  scripts/check-npm-package.js
  scripts/test-package-install.js
Due: eslint --fix, prettier --write, node scripts/lint-yaml.js

chore: address copilot comments
  .github/workflows/package-check.yml
Due: prettier --write, node scripts/lint-yaml.js

chore: address copilot comments
  .github/workflows/package-check.yml
  scripts/check-npm-package.js
  scripts/package-validation-config.js
  test/check-npm-package.test.ts
Due: eslint --fix, prettier --write, node scripts/lint-yaml.js

chore: address copilot comments
  test/check-npm-package.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  scripts/check-npm-package.js
  test/check-npm-package.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  CHANGELOG.md
  RELEASE_PROCESS.md
  scripts/package-validation-config.js
  test/check-npm-package.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

chore: address copilot comments
  scripts/check-npm-package.js
  scripts/package-validation-config.js
Due: eslint --fix, prettier --write

chore: prepare for 3.4.1 release
  .github/workflows/package-check.yml
  .npmignore
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  docs/releases/RELEASE_NOTES_3.4.1.md
  package-lock.json
  package.json
  scripts/check-npm-package.js
  scripts/package-validation-config.js
  scripts/test-package-install.js
  test/check-npm-package.test.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, node scripts/lint-yaml.js

docs: add sponsorship info
  CHANGELOG.md
  README.md
Due: prettier --write, markdownlint-cli2 --fix

refactor: move arrow
  README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: check
  .husky/pre-push
  CHANGELOG.md
  RELEASE_PROCESS.md
  package.json
  scripts/check-npm-package.js
  scripts/test-package-install.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

chore: address copilot feedback
  .husky/pre-push
  scripts/test-package-install.js
Due: eslint --fix, prettier --write

fix: prevent broken npm releases with multi-layer validation
  .husky/pre-push
  CHANGELOG.md
  RELEASE_PROCESS.md
  package.json
  scripts/check-npm-package.js
  scripts/test-package-install.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: prevent destructive dist directory deletion during tests
  .gitignore
  .npmignore
  package.json
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

fix: build issue
  package.json
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  package.json
  scripts/build-cjs.js
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  scripts/build-cjs.js
  test/build-cjs.test.ts
Due: eslint --fix, prettier --write

chore: address copilot comments
  scripts/build-cjs.js
Due: eslint --fix, prettier --write
